<div id="app">
    <div class="main">
        <div class="content">
            <div class="basic">
                <!-- <div class="heading">Love Predictit Scout?</div>
                <div class="paragraph">Send a donation to: 
                    <a href="https://paypal.me/mathtrainer" target="_blank"
                        class="link link--external">paypal.me/mathtrainer</a>
                    </div> -->
                <h1>Questions or comments?</h1>
                <span>Send an email to: <a href="mailto:trackerpredictit@gmail.com" class="link link--external"
                        target="_blank">trackerpredictit@gmail.com</a></span>
            </div>
        </div>
    </div>
</div>