.basic {
  font-family: "Lato", sans-serif;
  //color: #888;
  margin: 0;
}

.main {
  display: table;
  width: 100%;
  height: 65vh;
  text-align: center;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.normal-font {
  font-weight: normal;
}

.center {
  margin: auto;
}
