.outer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: text-top;
}

mat-card {
  width: 80%;
}

.main {
  display: table;
  width: 100%;
  height: 65vh;
  text-align: center;
}

.content {
  display: table-cell;
  vertical-align: text-top;
}

.normal-font {
  font-weight: normal;
}

.center {
  margin: auto;
  margin-bottom: 50px;
}

.spacer {
  height: 250px;
}
