<div id="app">
    <div class="main">
        <div class="spacer">
        </div>
        <div class="content">
                <div class="row">
                    <h1>Want to support PredictIt Scout?</h1>
                    <div class="row">
                        <h4 class="normal-font">Send a donation to:</h4>
                    </div>
                    <div class="row">
                        <table class="center">
                            <tr>
                                <td>
                                    <mat-icon svgIcon="bitcoin">
                                    </mat-icon>
                                </td>
                                <td>
                                    <span class="address">36YoUVaF743gWKvCejYRrNZNF6rg4a5CR9</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-icon svgIcon="ethereum">
                                    </mat-icon>
                                </td>
                                <td>
                                    <span class="address">0x59c2D3877e9EFEe46940eb7f65e6056e37af3116</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <h1>Questions or comments?</h1>
                    <span>Send an email to: <a class="link" href="mailto:trackerpredictit@gmail.com" class="link link--external"
                            target="_blank">trackerpredictit@gmail.com</a></span>
                </div>
            </div>
    </div>
</div>