<header>
  <mat-toolbar color="primary">
    <a class="links side" *ngIf="user" routerLink="/">
      @{{ user.twitterHandle }}
    </a>
    <span class="example-spacer"></span>
    <a class="links side" (click)="openAboutModal()" *ngIf="!user">About</a>
    <div>
      <mat-icon *ngIf="user" [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user?.isAdmin" routerLink="/admin">admin</button>
        <button mat-menu-item (click)="gotoAlerts()">View Alerts</button>
        <button mat-menu-item (click)="gotoFeedback()">Send Feedback</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
