<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
  <mat-card-footer>
    <span *ngIf="showLoginError" class="error-message"> Error logging in, please check your email/password and try again <br /> <br /></span>
  </mat-card-footer>
</mat-card>
<mat-card class="bottom-card">
  <span> Don't have an account?<br />
    <a [routerLink]="['/auth/register']">Register</a>
  </span>
</mat-card>