<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Twitter_Handle" [(ngModel)]="twitterHandle" name="twitterHandle" required>
              <span matPrefix>@&nbsp;</span>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
<mat-card class="bottom-card">
  <span> Forgot password?<br />
    <a [routerLink]="['/auth/reset-password']">Reset Password</a>
  </span>
</mat-card>

<mat-card class="bottom-card">
  <span> Don't have an account?<br />
    <a [routerLink]="['/auth/register']">Register</a>
  </span>
</mat-card>