<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table cellspacing="0" [formGroup]="userForm">
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Full Name" formControlName="fullname" name="fullname" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Email" formControlName="email" name="email" required>
              <mat-error *ngIf="email.invalid && email.hasError('email')">Invalid email address</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <mat-select [(ngModel)]="this.countryCode" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let country of phoneCountryMap.default" [value]="country.dial_code">
                  {{country.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>     
          <td class="phone">
            <span class="phone-extension">{{this.countryCode}}</span>
            <mat-form-field class="phone-number">
          <input matInput placeholder="Phone Number" formControlName="phone" name="phone" required>
            </mat-form-field>
          </td>
        </tr>
        <tr><div></div></tr>
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="standard-field">
              <input matInput placeholder="Repeat Password" formControlName="repeatPassword" type="password"
                name="repeatPassword" required>
              <mat-error *ngIf="repeatPassword.invalid && repeatPassword.hasError('passwordMatch')">Password mismatch
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Register</button>
    
  </mat-card-actions>
</mat-card>
<mat-card class="bottom-card">
  <span>Already have an account?<br /> 
    <a [routerLink]="['/auth/login']">Login</a></span>
</mat-card>