<div id="app">
  <div class="main">
    <div class="spacer"></div>
    <div class="content">
      <div class="row">
        <img class="img-logo" src="assets/full.png">
        <h2>Create Account</h2>
        <div class="center">
          <form [formGroup]="userForm">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Twitter_Handle" formControlName="twitterHandle" name="twitterHandle"
                required>
              <span matPrefix>@&nbsp;</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Repeat Password" formControlName="repeatPassword" type="password"
                name="repeatPassword" required>
              <mat-error *ngIf="repeatPassword.invalid && repeatPassword.hasError('passwordMatch')">Password mismatch
              </mat-error>
            </mat-form-field>
          </form>
          <button class="nav-button-blue" mat-raised-button (click)="register()" color="primary">Create Account</button>
        </div>
      </div>
      <div class="account-container">
        <div class="separator">
          <span class="textInSeparator">or</span>
        </div>
      </div>
      <div class="bottom-button">
        <button class="nav-button-gray" mat-raised-button (click)="goToLogin()" color="accent">Log In</button>
      </div>
    </div>
  </div>
</div>