.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.login-card {
  width: 250px; //ideally not just pixelized
  margin: 10% auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-card {
  width: 325px; //ideally not just pixelized
  margin: 10% auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phone-extension {
  font-size: medium;
}

.country-select {
  width: 50px;
}

.mat-card-title {
  font-size: 16px;
}
