.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-card {
  font-size: medium;
  max-width: 15vw;
  min-width: 260px;
  margin: 10% auto;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom-card {
  font-size: medium;
  max-width: 15vw;
  min-width: 260px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.standard-field {
  min-width: 220px;
  max-width: 20vw;
}

mat-card-footer {
  margin-bottom: 0.5%;
}

.mat-card-title {
  font-size: 16px;
}

tr {
  display: block;
}

.phone {
  position: relative;
}
