/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

$custom-typography: mat-typography-config(
  $font-family: "Ubuntu",
);

@include mat-core($custom-typography);

body {
  background-color: #f4f3f3;
  margin: 0;
  app-root * {
    font-family: "Ubuntu", sans-serif;
  }
}

body button {
  color: #1976d2;
}

.modal mat-dialog-container {
  border-radius: 15px;
  max-width: 1000px;
}

button:hover {
  background-color: #bdbdbd;
}

//https://www.materialpalette.com/blue/blue-grey
