/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

$custom-typography: mat-typography-config(
  $font-family: "Ubuntu",
);

@include mat-core($custom-typography);

$primary: mat-palette($mat-blue, 700, 700, 700);
$accent: mat-palette($mat-grey, 300, 300, 300);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

body {
  background-color: #f4f3f3;
  margin: 0;
  app-root * {
    font-family: "Ubuntu", sans-serif;
  }
}

.modal mat-dialog-container {
  border-radius: 15px;
  max-width: 1000px;
}
.mat-form-field-prefix {
  top: -0.063em !important;
}

button:hover {
  background-color: #bdbdbd;
}
