table {
  width: 100%;
  border: 1px solid rgb(131, 131, 131);
  border-collapse: collapse;
}
table td {
  border-left: 1px solid #000;
}

table th {
  border-left: 1px solid #000;
}

.main-card {
  font-size: medium;
  font-family: "Lato", sans-serif !important;
  max-width: 70vw;
  min-width: 260px;
  margin: 10% auto;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: text-top;
}

mat-card-title {
  font-size: x-large;
}

mat-card-content {
  width: 80%;
}

button:hover {
  background-color: gray;
}

form {
  margin-bottom: 1%;
}

.market-name {
  font-size: large;
  border: 1px solid rgb(131, 131, 131);
}

.input-center {
  text-align: center;
}

.active {
  background-color: orange;
}

.closed {
  background-color: grey;
}

.sent {
  background-color: green; // TODO: change colors
}

.createAlertButton {
  margin-left: 50px;
}

.body {
  font-family: "Lato", sans-serif !important;
  // color: #888;
  margin: 0;
}

.add-button {
  background-color: green;
  :hover {
    background-color: aquamarine;
  }
}

.remove-button {
  background-color: red;
}
.remove-button:hover {
  background-color: orange;
}
