<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Current Alerts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div *ngIf=showAlertCreation>
        here is the alert creation form


        <table mat-table>
        <!-- Header row first group -->
        <tr>
          <th colspan="12" class="market-name">
            {{this.market.name}}
          </th>
        </tr>
        <tr>
          <th>
            Contract
          </th>
          <th>
            Indicator
          </th>
          <th>
            Operator
          </th>
          <th>
            Limit
          </th>
        </tr>
         <tr>
           <td>
             contract dropdown
           </td>
           <td>
             indicator dropdown
           </td>
           <td>
             operator dropdown
           </td>
           <td>
             limit input
           </td>
         </tr>
      
      </table>
      <!-- put this on the right of the table -->
      <button mat-raised-button  (click) ="removeTemporaryAlert()" [disabled] = "!showAlertCreation" color="primary">Remove Proposed Alert</button>
      </div>


    </form>
    <table>
      <tr>
        <th>
          Market Name
        </th>
        <th>
          Contract
        </th>
        <th>
          Indicator
        </th>
        <th>
          Operator
        </th>
        <th>
          Limit
        </th>
      </tr>
      <tr *ngFor="let alert of alerts" >
        <td>
          {{alert.marketName}}
        </td>
        <td>
          {{alert.contract.name}}
        </td>
        <td>
          {{alert.indicator}}
        </td>
        <td>
          {{alert.operator}}
        </td>
        <td>
          {{alert.limit}}
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loadAlerts()" color="primary">Load Alerts</button>
    <button mat-raised-button (click)="addDummyAlert()" color="primary">Add Alert</button>

    <button mat-raised-button (click)="saveAlerts()" color="primary">Save Alerts</button>
    
    <!-- will eventually be part of the alert form -->
    <button mat-raised-button  (click) ="toggleAlertCreation()" [disabled] = "showAlertCreation" color="primary">Create Alert</button>
    <button mat-raised-button  (click) ="getMarket()" color="primary">Load Market</button>
    
  </mat-card-actions>
</mat-card>


<!-- <th>
            <td>Contract</td>
            <td></td>
            <td></td>
          </th>
          <tr *ngFor="let contract of this.market.contracts" >
            {{contract.name}}, {{contract.id}}
    
          </tr>
          <button mat-raised-button  (click) ="getMarket()" color="primary">Load Market</button>
        </table> -->