<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Current Alerts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr *ngFor="let alert of alerts" >
        row
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loadAlerts()" color="primary">Load Alerts</button>
    <button mat-raised-button (click)="addDummyAlert()" color="primary">Add Alert</button>

    <button mat-raised-button (click)="saveAlerts()" color="primary">Save Alerts</button>
  </mat-card-actions>
</mat-card>