table {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(131, 131, 131);
  border-collapse: collapse;
}

.main-card {
  font-size: medium;
  max-width: 70vw;
  min-width: 260px;
  margin: 10% auto;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: text-top;
}

.market-name {
  font-size: large;
  border: 1px solid rgb(131, 131, 131);
}

.input-center {
  text-align: center;
}
