<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Current Alerts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="newAlertForm">
      <div *ngIf=!showAlertCreation>
        <mat-form-field>
          <input matInput placeholder="Market Id" formControlName="marketId" name="marketId" OnlyNumber="true" required>
        </mat-form-field>
        spacer
        <button mat-raised-button (click)="createAlert()" [disabled]="showAlertCreation" color="primary">Create
          Alert</button>
      </div>
      <div *ngIf=showAlertCreation class=alert-creation>
        <table mat-table>
          <tr>
            <th colspan="12" class="market-name">
              {{this.market.name}}
            </th>
          </tr>
          <tr>
            <th>
              Contract
            </th>
            <th>
              Indicator
            </th>
            <th>
              Comparison Operator
            </th>
            <th>
              Value
            </th>
            <th>
              Continuous??
            </th>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <select matNativeControl formControlName="contractName" name="conrtactName">
                  <option *ngFor="let contract of market.contracts" [ngValue]="contract.shortName">
                    {{contract.shortName}}
                  </option>
                </select>
              </mat-form-field>
            </td>
            <td>
              <select matNativeControl formControlName="indicator" name="indicator">
                <option *ngFor="let indicator of indicators">
                  {{indicator}}
                  <!-- TODO: Where is the arrow? -->
                </option>
              </select>
            </td>
            <td>
              <select matNativeControl formControlName="operator" name="operator">
                <option *ngFor="let operator of operators">
                  {{operator}}
                  <!-- TODO: Where is the arrow? -->
                </option>
              </select>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="1-99" formControlName="limit" name="limit" OnlyNumber="true">
              </mat-form-field>
            </td>
            <td>
              constant alert or nah?
            </td>
          </tr>

        </table>
        <!-- put this on the right of the table -->
        <!-- god this formatting -->
        <button mat-raised-button (click)="removeTemporaryAlert()" [disabled]="!showAlertCreation"
          color="primary">Remove Proposed Alert</button>
        <button mat-raised-button (click)="addNewAlert(newAlertForm.value)" color="primary">Add Alert</button>
      </div>


    </form>
    <table>
      <tr>
        <th>
          Market Name
        </th>
        <th>
          Contract
        </th>
        <th>
          Indicator
        </th>
        <th>
          Operator
        </th>
        <th>
          Limit
        </th>
        <th>
          Continuous??
        </th>
        <th>
        </th>
      </tr>
      <tr *ngFor="let alert of alerts">
        <td>
          {{alert.marketName}}
        </td>
        <td>
          {{alert.contractName}}
        </td>
        <td>
          {{alert.indicator}}
        </td>
        <td>
          {{alert.operator}}
        </td>
        <td>
          {{alert.limit}}
        </td>
        <td>
          {{alert.constant}}
        </td>
        <td>
          <button mat-raised-button (click)="removeAlert(alert)" color="primary">X</button>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loadAlerts()" color="primary">Load Alerts</button>
    <button mat-raised-button (click)="saveAlerts()" color="primary">Save Alerts</button>
<!-- how to create alert popup -->
  </mat-card-actions>
</mat-card>
