<h1 mat-dialog-title class="title">Welcome!</h1>
<mat-dialog-content class="mat-body">
  <h3 class="heading">PredictIt Scout's ability to send messages is affected by your Twitter direct message settings</h3>

  <p class="body">A welcome message was sent to your Twitter direct message inbox. Please verify that you have received this message.</p>
  <p class="body">If you have not received the message, please make sure that your Twitter messaging settings allow you to receive
    messages from 
  <a href="https://twitter.com/predictit_scout" target="_blank" class="link">@predictit_scout.</a></p>
  <p>If you do not wish to change your direct message settings, you may need to follow the account and send it a direct message.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button class="mat-raised-button" [mat-dialog-close]="true" color="accent">Ok</button>
</mat-dialog-actions>